.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
html{
    background-color: black;
}
.navbar-brand{
  font-family: 'Reggae One', cursive;

}
a:link {
  text-decoration: none;
}

.donateText {
    position: absolute;
    top: 4rem;
    color: white;
    font-size: 18px;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
}
img{
  width: 50%;
margin-top: 5rem;
  margin-left: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}
button{
  display: inline;
}

.aboutText{
  width: 45%;

}

.title{
  font-size: 3rem;
  font-family: 'Reggae One', cursive;
    color: white;
}
